@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer;
@model EditDocumentModel
@{
    ViewData["Title"] = Localizer["Edit document"];
}

<div>
    <button id="saveDocument">@Localizer["Save"]</button>
    <textarea id="documentContent"></textarea>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/diff-match-patch-js-browser-and-nodejs/diff_match_patch.js"></script>
<script src="~/js/edit-document.js"></script>